.fifth {
    height:592px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 70px 150px;
    gap: 15px;
    
    h2 {
    font-size:36px;
    color:$black;

}

hr {
    color: $orange;
    width: 64px;
    height: 2px;
}
p {
    color: $grey;
    font-size: 14px;
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    
.column{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    p {
        color: $grey;

    }
    
    .icons {

    display: flex;
    justify-content: center;

    i {
        font-size: 18px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: 1px solid $orange;
        color: $orange;
    }
}

    h4{
        font-size: 20px;
        font-weight: 400px;
        color: $black;
    }
}
}
}
