.fifth {
    height:592px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
h2 {
    font-size:36px;
    color:$black;

}
hr {
    color: $orange;
    width: 64px;
    height: 2px;
}
p {
    color: #86878B;
    font-size: 14px;
}
.main {
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: space-around;

.column {
    max-height: 200px;
    width: 285px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

.icons {
    width: 50px;
    height: 50px;
    border: 1px solid $orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        color: $orange;
        font-size: 18px;
    }}
    h4 {
        font-size: 20px;
        font-weight: 400;
        color:$black;
    }
    p{
        color:  #86878B;
    }}}}