.first {
    padding-top: 72px;
    height: 639px;
    background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)),url(../images/img1.png) center/cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
.about {
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 20px;
    color:$white;
    text-align: left;
    margin-left: 150px;
    max-width: 651px;
img {
    width: 247px;
    height: 108px;
    }
h2 {
    width: 426px;
    height: 87px;
    font-size: 36px;
    }
hr {
    height:2px;
    color:$white;
    width: 84px;
}
p {
    width: 651px;
    height: 65px;
    opacity: 0.8;
}
button {
    width: 135px;
    height: 42px;
    margin-top: 43px;
    border: 2px solid $white;
    background: transparent;
    color: $white;
    cursor: pointer;
&:hover {
    color: $green;
    border: 2px solid $green;
    }}}

.details {
    background: $white;
    height: 430px;
    width: 375px;
    border-radius: 4px;
    margin: 75px 150px 0 10px;
    position: relative;
h2 {
    font-weight: 600;
    font-size: 20px;
    background: #F5F5F5;
    color: $black;
    line-height: 57px;
    width: 100%;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    span{
        color:$orange;
    }
}

h4 {
    margin: 22px 0 10px 50px;
}

input {
    border: none;
    border-bottom: 1px solid $grey;
    margin: 15px 45px;
    width: 75%;

&::placeholder {
        color: $grey;
        padding: 5px;
}}
form .details {
        display: flex;
        align-items: center;
        margin-left: 35px;

        input {
            appearance: none;
            width: 13px;
            height: 13px;
            border: 1px solid $green;
            border-radius: 50%;
            margin: 10px 5px 10px 15px;
            position: relative;

            &:before {
                position: absolute;
                top: 46%;
                left: 46%;
                content: "";
                width: 0%;
                height: 0%;
                background: $green;
                border-radius: 50%;
                transition: 0.3s;
            }

            &:checked:before {
                top: 24%;
                left: 24%;
                width: 50%;
                height: 50%;
            }

            &:checked+label {
                font-weight: 600;
            }
        }

        label {
            font-size: 9px;
        }
    }

    a {
        background: $green;
        text-align: center;
        position: absolute;
        bottom: 0;
        height: 57px;
        width: 100%;
        color: white;
        line-height: 57px;
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
}