.first {
    padding-top: 72px;
    height: 639px;
    background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)),url(../images/img1.png) center/cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
.about {
    @include flex;
    justify-content: right;
    gap: 20px;
    color:$white;
    text-align: left;
    margin-left: 150px;
    max-width: 651px;
img {
    width: 247px;
    height: 108px;
    }
h2 {
    width: 426px;
    height: 87px;
    font-size: 36px;
    }
hr {
    height:2px;
    background-color:$white;
    width: 84px;
    border: none;

}
p {
    width: 651px;
    height: 65px;
    opacity: 0.8;
}
button {
    width: 135px;
    height: 42px;
    margin-top: 43px;
    border: 2px solid $white;
    background: transparent;
    color: $white;
    cursor: pointer;
&:hover {
    color: $green;
    border: 2px solid $green;
    }}}

.details {
    width: 360px;
    @include flex;
    justify-content: center;
    z-index: 1;
    background: $white;
    margin-right: 180px;
    border-radius: 5px;

h2 {
    font-weight: 600;
    font-size: 20px;
    background: #F5F5F5;
    color: $black;
    line-height: 57px;
    width: 100%;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    span{
        color:$orange;
    }
}

h4 {
    margin: 20px 0 0px 45px;
    font-weight: 600;
}
    input {
        font-size: 12px;
        border: none;
        border-bottom: 1px solid $border;
        opacity: 0.4;
        padding: 10px;
        width: 65%;
        margin: 5px auto;
    }
    form .select {
        display: flex;
        align-items: center;
        margin-left: 50px;

        input{
            appearance: none;
            width: 10px;
            height: 10px;
            border: 1px solid $green;
            border-radius: 50%;
            margin: 10px 5px 10px 15px;
            position: relative;  
        &:before {
            @include button-before;
        }

        &:checked:before {
            @include size;
        }
        &:checked+label {
            font-weight: 600;
        }
        }
        
        label {
            font-size: 9px;
        }
    }

    
    button {
        background: $green;
        text-align: center;
        // bottom: 0;
        height: 57px;
        width: 100%;
        color: white;
        font-size: 18px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border:none;

    
        &:hover {
            background: $white;
            color: $orange;
            cursor: pointer;

        }
    }
}
}
@media (max-width:768px){
    .first {
        height: 1000px;
        flex-wrap: wrap;
        align-items: center;
        
    .about {
        flex-direction: column;
        gap: 15px;
        margin-left: 20px;
        max-width: 768px;
    img {
        width: 200px;
        height: 90px;
        }
    h2 {
        font-size: 25px;
        }
    hr {
        color:$orange;
    }
    p {
        width: 500px;
        opacity: 0.9;
    }
    button {
        margin-top: 25px;
    &:hover {
        color: $orange;
        border: 2px solid $orange;
        }}}
    
    .details {
        width: 360px;
        margin-right: 0px;
        margin-left:40px;

    
    h2 {
        font-weight:0;
    }
    
    }
        input {
        border-bottom: 1px solid black;
        }
    }
}
