.first {
    padding-top: 72px;
    height: 639px;
    background: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)),url(../images/img1.png) center/cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.about {
    display: flex;
    flex-direction: column;
    justify-content: right;
    color:$white;
    text-align: left;
    margin-left: 150px;
img {
    width: 247px;
    height: 108px;
    }}
h2 {
    width: 426px;
    height: 87px;
    font-size: 36px;
    }
hr {
    height:2px;
    color:$white;
    width: 84px;
}
p {
    width: 651px;
    height: 65px;
    opacity: 0.8;
}
button {
    width: 135px;
    height: 42px;
    margin-top: 43px;
    border: 2px solid $white;
    background: transparent;
    color: $white;
    cursor: pointer;
&:hover {
    color: $green;
    border: 2px solid $green;
    }}

.details {
    background: $white;
    width: 360px;
    height: 425px;
    border-radius: 4px;
    margin-right: 190px;
h2 {
    line-height: 57px;
    height:57px;
    width: 360px;
    font-size: 20px;
    background: #f5f5f5;
    color: $black;
    text-align: center;
    border-radius: 5px 5px 0px 0px;

    span{
        color:$orange;
    }
}}
h4 {
    margin: 22px 0 10px 50px;
}
input {
    border: none;
    border-bottom: 1px solid #D8D8D8;
    margin: 15px 45px;
    width: 75%;

&::placeholder {
        color: #D8D8D8;
        padding: 5px;
    }}

#getstarted {
    color:white;
    text-decoration: none;
    width: 360px;
    height: 57px;
    background:$green;
}