footer {
    font-size: 14px;
    background: black;
    color: white;
    height: 130px;
    
    .footer-main {
        display: flex;
        justify-content: space-between;
        padding: 40px 0px;
        margin-left: 150px;
        margin-right: 150px;
        max-width: 1600px;
        p {
            font-size: 18px;
            font-weight: 300;
            line-height: 2.5em;
            color:$white;
            opacity: 0.5;
}
.icons {
    display: flex;
    align-items: center;
    gap: 110px;
    
    img {
    display: inline-block;
    width: auto;
    height: 20px;
    transition: 0.3s;
    &:hover {
        opacity: 0.5;
    }
}
}
    }
}
@media (max-width:768px){
footer {
    height: 100%;
    
    .footer-main {
        flex-direction: column;
        justify-content:center;
        padding: 10px 0px;
        margin-left: 20px;
        max-width: 768px;
        p {
            text-align: left;
}
.icons {
    gap: 70px;
}
    }
}
}