#info{
    background: $black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 596px;
    .fourth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:180px;
    margin: 0px 170px;
    }

    img {
        width: 470px;
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 25px;
    h2 {
        font-size:30px;
    }
    hr {
        color: $orange;
        height:2px;
        width:200px;
    }
    p {
        font-size: 14px;
        width: 70%;

    }
    .title {
        display: flex;
        
        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $orange;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            margin-right: 15px;
      }

      p{
        width: 60%;
      }
    }
}
}