header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1600px;
  margin: auto;
  position: fixed;
  top:0;
  z-index: 99;
  background-color: $black;
  height: 80px;

img {
  margin-left: 150px;
  width: 119px;
  height: 52px;
  }
nav {
  margin-right: 150px;
  display: flex;
  
a {
  text-decoration: none;
  color: $white;
  padding:44px;
  text-align: right;
  font-size:14px;
  position: relative;
  opacity:0.69;

&::before{
    position: absolute;
    content: "";
    top:90px;
    left:0;
    width:100%;
    height: 3px;
    background:$orange;
    color:$orange;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}
&:hover:before{
    transform:scaleX(1);
    transform-origin: right;
}
}
}
.burger {
  display:none;
  i{
  color:$white;
}
}
}

@media (max-width:768px){
  header {
    width: 100%;
  
  img {
    margin-left: 20px;
    width: 119px;
    height: 52px;
    }
  nav {
    margin-right: 20px;
    display: flex;
    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 50px;
      transform: translateY(-150%);
      opacity: 0;
      z-index: -1;
      transition: 0.3s;
    }
    .links.absolute {
      transform: translateY(0%);
      opacity: 1;
      transition: 0.3s;
    }
    .burger{
      display:block;
    }
    a {
      display: flex;
      flex-direction: column;
    }
  }
}
}
