.second {
    display: flex;
    justify-content: space-between;
    height: 105px;
    background: $white;
    max-width: 1600px;

.text {
    margin-left: 150px;
   
    h3{
    margin-top:20px;
    margin-bottom: 5px;
    font-size:20px;
    }
    p{
    width: 394px;
    font-size:14px;
    text-align: left;
    color:$grey;
}}
.social {
    @include flex-space;
    gap:100px;
    margin-right:180px;

    img {
        display: inline-block;
        width: auto;
        height: 30px;
    } 
    a {
    opacity: 1;
    transition: 0.3s;
    &:hover {
    opacity: 65%;

    }
    }
}
}
@media (max-width:768px){
    .second {
       
        justify-content: center;
        flex-direction: column;
        height: 142px;
        max-width: 768px;
        gap:15px;
    
    .text {
        margin-left: 20px;
       
        h3{
  
        font-size:17px;
        }
        p{
        width: 300px;
    }}
    .social {
        gap:50px;
        margin-left:20px;
    
        img {
            height: 23px;
        } 

        }
        }
    }