.second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    background: $white;
    max-width: 1600px;
}

.text {
    margin-left: 150px;
   
    h3{
    margin-top:20px;
    margin-bottom: 5px;
    font-size:20px;
    }
    p{
    width: 394px;
    font-size:14px;
    text-align: left;
    color:$grey;
}}
.social {
    display: flex;
    gap:150px;

    img {
    opacity: 65%;
    transition: 0.3s;
    &:hover {
    opacity: 1;
}}}
