.Second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    background: $white;
    box-shadow: 0px 1px 3px #00000061;

.Text{
    margin-left: 150px;
    // margin-right: 100px;
    h3{
    margin-top:20px;
    margin-bottom: 5px;
    font-size:20px;
    }
    p{
    width: 394px;
    font-size:14px;
    text-align: left;
    color:#86878B;
}}
.Social{
    display: flex;
    gap:150px;
    // width: 50%;
    margin-right: 150px;

    img {
    
    opacity: 65%;
    transition: 0.3s;
    &:hover {
    opacity: 1;
}}}}
