.seventh {
  .reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 0;
    margin-left: 120px;
  }
  .label {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    h2 {
      font-size: 36px;
      font-weight: 300;
      width: 100%;
      height: 44px;
    }

    hr{
      color: $blue;
      height: 2px;
      width: 64px;
    }
  }
  .swiper {
     width: 100%;
     height: auto;

     .swiper-pagination-bullet {
      border: 1px solid $orange;
      background-color: $white;
      height: 10px;
      width: 10px;
      transition: 0.5s;
      transition: transform 0.3s;
      opacity: 1;
      
      &:hover {
        cursor: pointer;
        transform: scale(2);
      }
    }
    .swiper-pagination-bullet-active {
      background-color: $orange;
    }
    .swiper-wrapper {
      align-items: flex-end;
    }
    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 50px;
      p {
        background-color: $blue;
        border-radius: 8px;
        color: white;
        font-size: 16px;
        font-weight: 300;
        padding: 20px;
        width: 250px;
        height: 150px;
      }
      
      .customer {
        display: flex;
        position: relative;
        align-items: center;
        padding-top: 20px;
        gap: 15px;
        
        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 25px;
          width: 0;
          height: 0;
          border: 14px solid transparent;
          border-top-color: $blue;
        }
        .data {
          display: flex;
          flex-direction: column;
          
          h3 {
            color: #333333;
            font-size: 20px;
            font-weight: 400;
          }
          h4 {
            color: #86878b;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

  

