.sixth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 883px;
    background: $blue;
    color: $white;

    h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 300;
    margin-top: 20px;
}
hr {
    width: 64px;
    height: 2px;
    margin-bottom: 20px;
    color: $green;
}
p {
    font-size: 14px;

}
.slide {
    display: flex;
    align-items: end;
    margin-top: 30px;
    gap: 20px;
    .column {
       width: 320px;
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px 5px 0 0;
        padding: 10px;
        background: $black;
  
    h4 {
        color: $white;
        font-size: 20px;
        font-weight: 100;
    }

    h1 {
        font-size: 30px;
        font-weight: 400;
            
        span {
        font-size: 94px;
        }
    }
    p {
        font-weight: 300;
        font-size: 14px;
        color: $grey;
    }
}
ul {
    list-style: none;
    text-align: center;
    line-height: 30px;
    background: $white;
    color: $grey;
    border-radius: 0 0 5px 5px;
    border-top: 6px solid $green;
}
li{
    padding: 3px 30px;
}
#mark {
    background-color: $green;
    color: $white;
    height: 40px;
}
}
}
}

