@import 'reset';
@import 'var';
@import 'header';
@import 'first';
@import 'second';
@import 'third';
@import 'fourth';
@import 'fifth';
@import 'sixth';
@import 'seventh';
@import 'eighth';
@import 'footer';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,600&display=swap');

body{
  font-family: 'Montserrat Alternates', sans-serif;
  max-width: 1600px;
  margin: auto;

}
html {
  scroll-behavior: smooth;
}
