.third {
    height: 595px;
    background: linear-gradient(270deg, rgba(102, 150, 226, 0.42), rgba(226, 120, 102, 0.42)),url(../images/img2.png) center/cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }